{% extends "lms/base-logged-in.html" %}
{% block title %}Calendar{% endblock %}
{% block head %}{% endblock %}
{% block page_heading %}Calendar{% endblock %}
{% block content %}
<div class="d-flex" id="app">
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='scripts/calendar.js') }}"></script>
<script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");

    toggleButton.onclick = function () {
        el.classList.toggle("toggled");
    };
</script>
{% endblock %}
