{% extends "base.html" %}
<!-- TODO: make all pages that require logging in extend base-logged-in.html -->
{% block body %}
<nav class="px-3 navbar navbar-expand-lg navbar-light">
    <a class="mx-3 navbar-brand" href="{{ url_for('dashboard.dashboard_page') }}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if active_nav == 'home' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('dashboard.dashboard_page') }}">Home</a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}

{% endblock %}
