{% extends "base.html" %}

{% block title %}
&#8212; Login
{% endblock %}

{% block body %}

<div class="google-signin">
    <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline"
        data-text="signin_with" data-shape="pill" data-logo_alignment="left">
    </div>
</div>

<form name="registerForm" action="" method="POST">
    <div class="container">
      <h1>Register</h1>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
      <hr>
  
      <button type="submit" class="registerbtn">Register</button>
    </div>
</form>

<form name="signinForm" action="" method="POST">
    <div class="container">
      <h1>Sign-in</h1>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
  
      <button type="submit" class="signinbtn">Sign-in</button>
    </div>
</form>

<div id="g_id_onload" data-client_id="{{ google_client_id }}" data-login_uri="{{ domain }}/login"
    data-prompt_parent_id="g_id_onload" data-auto_prompt="true" data-context="signin" data-ux_mode="popup"
    data-auto_select="true">
</div>
{% endblock %}

{% block scripts %}
<script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}
